In [3]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_excel("Data/Data_Train.xlsx",sheet_name='Sheet1')

In [5]:
pd.set_option("display.max_columns",None)
print(data.head())

       Airline Date_of_Journey    Source Destination                  Route  \
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL

  Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
0    22:20  01:10 22 Mar   2h 50m    non-stop         No info   3897
1    05:50         13:15   7h 25m     2 stops         No info   7662
2    09:25  04:25 10 Jun      19h     2 stops         No info  13882
3    18:05         23:30   5h 25m      1 stop         No info   6218
4    16:50         21:35   4h 45m      1 stop         No info  13302

In [6]:
data.drop(['Additional_Info'],inplace=True,axis=1)

In [7]:
print(data.head())

       Airline Date_of_Journey    Source Destination                  Route  \
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL

  Dep_Time  Arrival_Time Duration Total_Stops  Price
0    22:20  01:10 22 Mar   2h 50m    non-stop   3897
1    05:50         13:15   7h 25m     2 stops   7662
2    09:25  04:25 10 Jun      19h     2 stops  13882
3    18:05         23:30   5h 25m      1 stop   6218
4    16:50         21:35   4h 45m      1 stop  13302

In [8]:
data.drop(['Route'],axis=1,inplace=True)

In [9]:
print(data.head())

       Airline Date_of_Journey    Source Destination Dep_Time  Arrival_Time  \
0       IndiGo      24/03/2019  Banglore   New Delhi    22:20  01:10 22 Mar
1    Air India       1/05/2019   Kolkata    Banglore    05:50         13:15
2  Jet Airways       9/06/2019     Delhi      Cochin    09:25  04:25 10 Jun
3       IndiGo      12/05/2019   Kolkata    Banglore    18:05         23:30
4       IndiGo      01/03/2019  Banglore   New Delhi    16:50         21:35

  Duration Total_Stops  Price
0   2h 50m    non-stop   3897
1   7h 25m     2 stops   7662
2      19h     2 stops  13882
3   5h 25m      1 stop   6218
4   4h 45m      1 stop  13302

In [10]:
data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Price               int64
dtype: object

In [11]:
data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Price              0
dtype: int64

In [12]:
data.Total_Stops.fillna(0,inplace=True)

In [13]:
data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Price              0
dtype: int64

In [14]:
data.Total_Stops.value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
0              1
Name: Total_Stops, dtype: int64

In [15]:
#converting TOTAL sTOPS to integer values 
data.Total_Stops.replace({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4},inplace=True)

In [16]:
#creaing new cloumns day and month of journey in palce of date
day=[]
month=[]
for i in data.Date_of_Journey:
    day.append(i.split('/')[0])
    month.append(i.split('/')[1])
data['day_of_journey']=day
data['month_of_journey']=month
data.drop(['Date_of_Journey'],inplace=True,axis=1)
data.day_of_journey=data.day_of_journey.astype(int)
data.month_of_journey=data.month_of_journey.astype(int)
print(data.head())

       Airline    Source Destination Dep_Time  Arrival_Time Duration  \
0       IndiGo  Banglore   New Delhi    22:20  01:10 22 Mar   2h 50m
1    Air India   Kolkata    Banglore    05:50         13:15   7h 25m
2  Jet Airways     Delhi      Cochin    09:25  04:25 10 Jun      19h
3       IndiGo   Kolkata    Banglore    18:05         23:30   5h 25m
4       IndiGo  Banglore   New Delhi    16:50         21:35   4h 45m

   Total_Stops  Price  day_of_journey  month_of_journey
0            0   3897              24                 3
1            2   7662               1                 5
2            2  13882               9                 6
3            1   6218              12                 5
4            1  13302               1                 3

In [17]:
#Processing the Duration Column to get same format of time
for i in range(len(data.Duration)):
    if len(data.Duration[i].split())!=2:
        if 'h' in data.Duration[i]:
            data.Duration[i]=data.Duration[i] + ' 0m'
        else:
            data.Duration[i]='0h ' + data.Duration[i]

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [18]:
hours=[]
mins=[]
for i in data.Duration:
    hours.append(i.split('h')[0])
    mins.append(i.split()[1].split('m')[0])
Duration=[]
for i in range(len(hours)):
    total=int(hours[i])*60 + int(mins[i])
    Duration.append(total)
data['duration']=Duration
data.drop(['Duration'],axis=1,inplace=True)

In [19]:
dep_hour=[]
dep_min=[]
for i in data.Dep_Time:
    dep_hour.append(i.split(':')[0])
    dep_min.append(i.split(":")[1])
data['dep_hour']=dep_hour
data['dep_min']=dep_min
data['dep_hour']=data['dep_hour'].astype(int)
data['dep_min']=data['dep_min'].astype(int)
print(data.head())

       Airline    Source Destination Dep_Time  Arrival_Time  Total_Stops  \
0       IndiGo  Banglore   New Delhi    22:20  01:10 22 Mar            0
1    Air India   Kolkata    Banglore    05:50         13:15            2
2  Jet Airways     Delhi      Cochin    09:25  04:25 10 Jun            2
3       IndiGo   Kolkata    Banglore    18:05         23:30            1
4       IndiGo  Banglore   New Delhi    16:50         21:35            1

   Price  day_of_journey  month_of_journey  duration  dep_hour  dep_min
0   3897              24                 3       170        22       20
1   7662               1                 5       445         5       50
2  13882               9                 6      1140         9       25
3   6218              12                 5       325        18        5
4  13302               1                 3       285        16       50

In [20]:
data.drop(['Dep_Time','Arrival_Time'],axis=1,inplace=True)

In [21]:
data=pd.concat([pd.get_dummies(data[['Source']],drop_first=True),pd.get_dummies(data[['Destination']],drop_first=True),pd.get_dummies(data[['Airline']],drop_first=True),data],axis=1)
data.drop(['Source','Destination','Airline'],axis=1,inplace=True)
print(data.head())

   Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai  \
0               0             0               0              0
1               0             0               1              0
2               0             1               0              0
3               0             0               1              0
4               0             0               0              0

   Destination_Cochin  Destination_Delhi  Destination_Hyderabad  \
0                   0                  0                      0
1                   0                  0                      0
2                   1                  0                      0
3                   0                  0                      0
4                   0                  0                      0

   Destination_Kolkata  Destination_New Delhi  Airline_Air India  \
0                    0                      1                  0
1                    0                      0                  1
2                    0                      0                  0
3                    0                      0                  0
4                    0                      1                  0

   Airline_GoAir  Airline_IndiGo  Airline_Jet Airways  \
0              0               1                    0
1              0               0                    0
2              0               0                    1
3              0               1                    0
4              0               1                    0

   Airline_Jet Airways Business  Airline_Multiple carriers  \
0                             0                          0
1                             0                          0
2                             0                          0
3                             0                          0
4                             0                          0

   Airline_Multiple carriers Premium economy  Airline_SpiceJet  \
0                                          0                 0
1                                          0                 0
2                                          0                 0
3                                          0                 0
4                                          0                 0

   Airline_Trujet  Airline_Vistara  Airline_Vistara Premium economy  \
0               0                0                                0
1               0                0                                0
2               0                0                                0
3               0                0                                0
4               0                0                                0

   Total_Stops  Price  day_of_journey  month_of_journey  duration  dep_hour  \
0            0   3897              24                 3       170        22
1            2   7662               1                 5       445         5
2            2  13882               9                 6      1140         9
3            1   6218              12                 5       325        18
4            1  13302               1                 3       285        16

   dep_min
0       20
1       50
2       25
3        5
4       50

In [22]:
print(data.dtypes)

Source_Chennai                               uint8
Source_Delhi                                 uint8
Source_Kolkata                               uint8
Source_Mumbai                                uint8
Destination_Cochin                           uint8
Destination_Delhi                            uint8
Destination_Hyderabad                        uint8
Destination_Kolkata                          uint8
Destination_New Delhi                        uint8
Airline_Air India                            uint8
Airline_GoAir                                uint8
Airline_IndiGo                               uint8
Airline_Jet Airways                          uint8
Airline_Jet Airways Business                 uint8
Airline_Multiple carriers                    uint8
Airline_Multiple carriers Premium economy    uint8
Airline_SpiceJet                             uint8
Airline_Trujet                               uint8
Airline_Vistara                              uint8
Airline_Vistara Premium economy              uint8
Total_Stops                                  int64
Price                                        int64
day_of_journey                               int32
month_of_journey                             int32
duration                                     int64
dep_hour                                     int32
dep_min                                      int32
dtype: object

In [23]:
print(data.drop(['Price'],axis=1).head())
x=data.drop(['Price'],axis=1).values
y=data.Price.values

   Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai  \
0               0             0               0              0
1               0             0               1              0
2               0             1               0              0
3               0             0               1              0
4               0             0               0              0

   Destination_Cochin  Destination_Delhi  Destination_Hyderabad  \
0                   0                  0                      0
1                   0                  0                      0
2                   1                  0                      0
3                   0                  0                      0
4                   0                  0                      0

   Destination_Kolkata  Destination_New Delhi  Airline_Air India  \
0                    0                      1                  0
1                    0                      0                  1
2                    0                      0                  0
3                    0                      0                  0
4                    0                      1                  0

   Airline_GoAir  Airline_IndiGo  Airline_Jet Airways  \
0              0               1                    0
1              0               0                    0
2              0               0                    1
3              0               1                    0
4              0               1                    0

   Airline_Jet Airways Business  Airline_Multiple carriers  \
0                             0                          0
1                             0                          0
2                             0                          0
3                             0                          0
4                             0                          0

   Airline_Multiple carriers Premium economy  Airline_SpiceJet  \
0                                          0                 0
1                                          0                 0
2                                          0                 0
3                                          0                 0
4                                          0                 0

   Airline_Trujet  Airline_Vistara  Airline_Vistara Premium economy  \
0               0                0                                0
1               0                0                                0
2               0                0                                0
3               0                0                                0
4               0                0                                0

   Total_Stops  day_of_journey  month_of_journey  duration  dep_hour  dep_min
0            0              24                 3       170        22       20
1            2               1                 5       445         5       50
2            2               9                 6      1140         9       25
3            1              12                 5       325        18        5
4            1               1                 3       285        16       50

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x, y, test_size = 0.25, random_state=21)

In [25]:
import xgboost as xgb

In [26]:
from sklearn.model_selection import RandomizedSearchCV
params={
    'learning_rate':[0.05,0.1,0.15,0.2,0.25,0.3],
    'max_depth':[3,5,7,9,4,12,15],
    'min_child_weight':[1,3,5,7],
    'gamma':[0.0,0.1,0.2,0.3,0.4],
    'colsample_bytree':[0.3,0.4,0.5,0.7]
}
model=xgb.XGBRegressor()
random_search=RandomizedSearchCV(model,param_distributions=params,n_iter=5,n_jobs=-1,cv=5,verbose=3)
random_search.fit(x_train,y_train)
random_search.best_params_

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  19 out of  25 | elapsed:    7.8s remaining:    2.4s
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:    9.0s finished

{'min_child_weight': 5,
 'max_depth': 9,
 'learning_rate': 0.15,
 'gamma': 0.4,
 'colsample_bytree': 0.4}

In [27]:
model=xgb.XGBRegressor(min_child_weight= 3,
 max_depth= 7,
 learning_rate= 0.3,
 gamma= 0.3,
 colsample_bytree= 0.4)
from sklearn.model_selection import cross_val_score
score=cross_val_score(model,x_train,y_train,cv=5)
print(score)

[0.82676586 0.84487763 0.80434887 0.82624906 0.8359647 ]

In [28]:

model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8305308460241765

In [29]:
import pickle
with open('model_pickle','wb') as f:
    pickle.dump(model,f)